<%- include("../partials/header") %>

<h2 class="freddy">Welcome back, <%= user.name%></h2>
<img src= "<%= user.avatar%>" height="150" width="150">

<div>
    <p>My Recipes:</p>
    <ul>
        <% recipes.forEach(recipe => { %>
        <li class="inline-form-delete">
            <form action="/users/<%= user._id%>/recipes/<%= recipe._id%>?_method=DELETE" method="POST">
                <input type="submit" value="X" class="x-button">
            </form>
            <a href="/recipes/<%= recipe._id%>"> <%= recipe.name%> </a>
        </li>
        <% }); %>
    </ul>
    <a href="/users/<%= user._id%>/recipes/new">Add New Recipe</a>
</div>

<hr>

<%- include("../partials/footer") %>