<%- include("../partials/header") %>

<form action="/recipes" method="GET">
        <input type="search" name="name" placeholder="search recipe name" value="<%= name %>" autocomplete="off">
</form>

<ul>
    <% recipes.forEach(recipe => { %>
        <li>
            <a href="/recipes/<%= recipe._id%>"> <%= recipe.name%> </a>
        </li>
    <% }); %>
</ul>




<%- include("../partials/footer") %>