<%- include("../partials/header") %>

<img src="<%= recipe.imageURL%>">

<h3>Description:</h3>
<p><%= recipe.description%></p>
<hr>

<h3>Ingredients:</h3>
<p><%= recipe.ingredients%></p>
<hr>

<h3>Instructions:</h3>
<p><%= recipe.instructions%></p>
<hr>



<a href="/recipes/<%= recipe._id%>/edit">Update Recipe</a>



<%- include("../partials/footer") %>