<%- include("../partials/header") %>
<div class="img-wrapper">
    <img src="<%= recipe.imageURL%>"style="max-height: 700px; max-width: 700px;">
</div><hr>


<h3 class="freddy">Description:</h3>
<p><%= recipe.description%></p>
<hr><br>

<h3 class="freddy">Ingredients:</h3>
<ul>
    <% recipe.ingredients.forEach(ing => { %>
        <li><%= ing%></li>
    <% }) %>
</ul>
<hr><br>

<h3 class="freddy">Instructions:</h3>
<ol>
    <% recipe.instructions.forEach(inst => { %>
        <li><%= inst%></li>
    <% }) %>
</ol>
<hr><br>

<a href="/recipes/<%= recipe._id%>/edit">Update Recipe</a>
<hr><br>

<h3>Comments:</h3>
<form action="/recipes/<%= recipe._id%>/comments" method="POST">
    <label>
        <textarea name="text" cols="50" rows="5"></textarea>
    </label><br>
    <input type="submit" value="Add Comment">
</form>
<hr><br>

<% if (recipe.comments.length) {%>
    <% recipe.comments.forEach(comment => { %>
        <div class="inline-form-delete avatar-says">
            <img src="<%= comment.avatar%>" height="50" width="50">
            <h4><%= comment.author%> says:</h4>
        </div>
        <div class="inline-form-delete">
            <% if(comment.user.equals(user && user._id)) { %>
            <form action="/recipes/<%= recipe._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">       
                <input type="submit" value="X" class="x-button">
            </form>
            <% } %>
            <p><%= comment.text%></p>
        </div>
        <hr>

    <% }) %>
<% }%>

<%- include("../partials/footer") %>