<%- include("../partials/header") %>

<img src="<%= recipe.imageURL%>">

<h3>Description:</h3>
<p><%= recipe.description%></p>
<hr>

<h3>Ingredients:</h3>
<p><%= recipe.ingredients%></p>
<hr>

<h3>Instructions:</h3>
<p><%= recipe.instructions%></p>
<hr>

<a href="/recipes/<%= recipe._id%>/edit">Update Recipe</a>
<hr>

<h5>Comments:</h5><br>
<form action="/recipes/<%= recipe._id%>/comments" method="POST">
    <label>
        <textarea name="text" cols="30" rows="5"></textarea>
    </label><br>
    <input type="submit" value="Add Comment">
</form>

<% if (recipe.comments.length) {%>
    <% recipe.comments.forEach(comment => { %>
        <form action="/recipes/<%= recipe._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">       
            <input type="submit" value="X">
        </form>
            <!-- NOTE! remember that html can only GET and POST requests; so we'll be needing method-override again
            to convert this "POST" request to a "DELETE" request (this is done by: "?_method=DELETE" appended to the
            end of our comment id); -->
            <h6>User: <%= comment.user%></h6>
            <p><%= comment.text%></p>
            <hr>

    <% }) %>
<% }%>

<%- include("../partials/footer") %>